#chat2 .form-control {
      border-color: transparent;
    }
    
    #chat2 .form-control:focus {
      border-color: transparent;
      box-shadow: inset 0px 0px 0px 1px transparent;
    }
    
    .divider:after,
    .divider:before {
      content: "";
      flex: 1;
      height: 1px;
      background: rgb(156, 117, 141) 27, 28);
    }

    .user-message {
      display: inline-flex; /* O puedes usar inline-block si lo prefieres */
      justify-content: center; /* Esto centrará el texto en el espacio del mensaje */
      align-items: center; /* Esto centrará el texto verticalmente */
      max-width: 80%; /* Ajusta esto según cuánto quieras que los mensajes puedan ocupar */
    }
    
    



.message {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.message-header {
  align-self: flex-start;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  margin-bottom: 0.25rem;
}

.status-dot {
  height: 10px;
  width: 10px;
 /* Fondo verde por defecto */
  border-radius: 50%;
  display: inline-block;
  background-size: cover;
  background-position: center;
}

.user-img {
  background-image: url(''); /* Añade la URL de la imagen del usuario aquí */
}

.assistant-img {
  background-image: url('../../imagenes/koko.png'); /* Añade la URL de la imagen del asistente aquí */
}
.role-name {
  display: inline-block;
}

.message-content {
  max-width: 75%;
  word-wrap: break-word;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.user-message {
  background-color: #98a2aa;
  align-self: flex-end;
}

.assistant-message {
  background-color: rgb(48, 107, 105);
  align-self: flex-start;
}

.waiting-message {
  background-color: rgb(226, 207, 207);
  align-self: flex-start;
}

/* Resto de tus estilos ... */

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrar verticalmente */
  align-items: center; /* Centrar horizontalmente */
  height: 100vh; /* Hacer que la sección de bienvenida tenga la altura completa de la ventana */
  text-align: center;
  padding: 20px; /* Añadir algo de padding si es necesario */
}

.welcome-image {
  max-width: 150px; /* Ajusta este valor según el tamaño deseado para tu imagen */
  margin-bottom: 1rem; /* Espacio debajo de la imagen */
}

.welcome-title {
  font-size: 2rem;
  margin-bottom: 0.5rem; /* Espacio debajo del título */
}

.welcome-description {
  font-size: 1rem;
  color: #666;
}

#chat2 {
  width: 100%; /* Establece el ancho al 100% de su contenedor padre */
  max-width: 100%; /* Asegúrate de que no sea más grande que su contenedor */
  /* ... otros estilos ... */
}

/* Si necesitas ajustar los estilos internos para que también abarquen todo el ancho, hazlo aquí */
.mdb-card-body, .mdb-card-footer {
  padding: 0; /* Eliminar el padding si es necesario */
}
