.modal {
      position: fixed;
      top: 0;
      left: 0;
      width: 50%;
      height: 50%;
      background: rgba(110, 197, 39);
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .modal-content {
      background-color: rgb(67, 174, 67);
      padding: 20px;
      border-radius: 5px;
      text-align: center;
  }
  