.modal-message {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  text-align: center;
}

.modal-message.success {
  color: green;
  background-color: #b3ffb3;
}

.modal-message.error {
  color: red;
  background-color: #ffb3b3;
}
