.modal {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .modal-content {
      background-color: white;
      padding: 20px;
      border-radius: 5px;
      width: 500px;
    }
    
    .close-button {
      float: right;
      font-size: 1.5rem;
      cursor: pointer;
    }
    
    label {
      display: block;
      margin-top: 10px;
    }
    
    input[type="text"],
    input[type="email"],
    input[type="password"] {
      width: 100%;
      padding: 8px;
      margin-top: 5px;
    }
    
    button {
      margin-top: 10px;
      padding: 10px 15px;
      background-color: deeppink;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      width: 200px;
      justify-content: center;
    }
    
    button:hover {
      background-color: rgb(247, 74, 218);
    }
    
    .tituloForm{
      color:black;
    }